*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  width: 100%;
  height: 100%;
}

body {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

section {
  width: 100%;
  height: 100%;
}

.buttons {
  margin: 50px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 28px;
}

.buttons button {
  background-color: rgb(46, 44, 44);
  color: rgb(222, 218, 218);
  border: none;
  width: 140px;
  height: 60px;
  font-size: 18px;
  padding: 12px 10px;
  border-radius: 10px;
  cursor: pointer;
}

.toast-box {
  position: fixed;
  /* bottom: 30px;
  right: 30px; */
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 20px;
  padding: 20px;
  overflow: hidden;
}

.toast-box.bottom-right {
  bottom: 30px;
  right: 30px;
}

.toast-box.bottom-left {
  bottom: 30px;
  left: 30px;
}

.toast-box.bottom-center {
  bottom: 30px;
  right: 600px;
  left: 450px;
}

.toast-box.top-right {
  top: 30px;
  right: 30px;
}

.toast-box.top-left {
  top: 30px;
  left: 30px;
}

.toast-box.top-center {
  top: 30px;
  left: 450px;
  right: 600px;
}

.toast {
  background-color: #fff;
  width: 360px;
  height: 80px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
  position: relative;
  transform: translateX(120%);
  animation: moveLeft 0.4s cubic-bezier(0.21, 1.02, 0.73, 1) forwards;
  overflow: hidden;
}

.toast.error {
  color: red;
}

.toast.invalid {
  color: orange;
}

.toast.success {
  color: green;
}

.toast.info {
  color: blue;
}

.toast.hide {
  animation: slideOut 0.4s forwards;
}

.toast::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 5px;
  background-color: currentColor;
  animation: anim var(--toast-duration) linear forwards;
}

.toast.paused::after {
  animation-play-state: paused;
}

.toast-content {
  display: flex;
  align-items: center;
}

.toast-content i {
  font-size: 30px;
  margin: 0 16px;
}

.toast-close {
  border: none;
  background: none;
  padding: 16px;
  cursor: pointer;
}

.toast-close i {
  font-size: 16px;
}

@keyframes anim {
  100% {
    width: 0%;
  }
}

@keyframes moveLeft {
  100% {
    transform: translateX(0%);
  }
}

@keyframes slideOut {
  0% {
    transform: translateX(0);
    opacity: 1;
  }

  60% {
    transform: translateX(110%);
    opacity: 0.7;
  }

  100% {
    transform: translateX(120%);
    opacity: 0;
  }
}
